In [56]:
# for REGULAR EXPRESSION

In [11]:
import re 
import pandas as pd

In [12]:
 #   Q 1  Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [13]:
text = 'Python Exercises, PHP exercises.'
x = (re.sub("[ ,.]", ":", text))
print("*********************************")
print(x)
print("*********************************")

*********************************
Python:Exercises::PHP:exercises:
*********************************

In [14]:
# Q2 Create a dataframe using the dictionary below and remove everything 
# (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [15]:
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
print("************************************************")
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
print("**************************************************")
df

************************************************
**************************************************

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

In [16]:
#  Q 3 Create a function in python to 
# find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [77]:
def find_words(string):
    pattern = re.compile(r'\b\w{3,8}\b')
    matches = pattern.findall(string)
    return matches
string = "This is a sample string with words of different lengths."
result = find_words(string)
print(result)

['This', 'sample', 'string', 'with', 'words', 'lengths']

In [17]:
#  Q 4 Create a function in python to find all three, four, and five character words in a string.
# The use of the re.compile() method is mandatory.

In [76]:

def find_words(string):
    pattern = re.compile(r'\b\w{1,5}\b')
    matches = pattern.findall(string)
    return matches
string = "This is a sample string with words of different lengths."
result = find_words(string)
print(result)

['This', 'is', 'a', 'with', 'words', 'of']

In [18]:
# Q 5  Create a function in Python to remove the parenthesis in a list of strings. 
# The use of the re.compile() method is mandatory.

In [19]:

def remove_parenthesis(strings):
    pattern = re.compile(r'\((.*?)\)')

    
    for i in range(len(Text)):
        
        strings[i] = re.sub(pattern, '', strings[i])

    return strings


Text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]


X = remove_parenthesis(Text)


for Text in X:
    print("**************")
    print(Text)
    print("**************")

**************
example
**************
**************
hr@fliprobo
**************
**************
github
**************
**************
Hello
**************
**************
Data
**************

In [20]:
# Q 6 Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

In [21]:
Text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [22]:
# Q 7 Write a regular expression in Python to split a string into uppercase letters.

In [23]:
text = "ImportanceOfRegularExpressionsInPython"
X = (re.findall('[A-Z][^A-Z]*', text))
print(X)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [24]:
 # Q 8 Create a function in python to insert spaces between words starting with numbers.

In [25]:
Text =  "RegularExpression1IsAn2ImportantTopic3InPython"

x  = re.sub(r'([a-z](?=[A-Z])|[A-Z](?=[A-Z][a-z]))', r'\1 ', Text)
print(x)

Regular Expression1Is An2Important Topic3In Python

In [26]:
 # Q 9 Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [70]:
def insert_spaces(text):
    pattern = r'([A-Z][a-z0-9]+|\d+)'
    result = re.sub(pattern, r' \1', text)
    result = result.strip()
    return result
sample_text = "RegularExpression1IsAn2ImportantTopic3InPython"
output = insert_spaces(sample_text)
print(output)

Regular Expression1 Is An2 Important Topic3 In Python

In [99]:
  # Q 10 Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [ ]:
# Q11 Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [33]:
import re
def text_match(text):
        patterns = '^[a-zA-Z0-9_]*$'
        if re.search(patterns,  text):
                return 'Found a match!'
        else:
                return('Not matched!')

print(text_match("The quick brown fox jumps over the lazy dog."))
print(text_match("Python_Exercises_1"))

Not matched!
Found a match!

In [ ]:
 # Q 12 Write a Python program where a string will start with a specific number.

In [100]:
def match_num(string):
    text = re.compile(r"^5")
    if text.match(string):
        return True
    else:
        return False
print(match_num('5-2345861'))
print(match_num('6-2345861'))

True
False

In [101]:
# Q 13 - Write a Python program to remove leading zeros from an IP address

In [102]:
import re
ip = "216.08.094.196"
string = re.sub('\.[0]*', '.', ip)
print(string)

216.8.94.196

In [103]:
# Q 14 Write a regular expression in python to match a date string in the form of Month name 
# followed by day number and year stored in a text file.

In [4]:
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = r"\b([A-Z][a-z]+ \d{1,2}(?:st|nd|rd|th)? \d{4})\b"

matches = re.findall(pattern, text)
date_string = matches[0] if matches else None

print(date_string)

August 15th 1947

In [105]:
 # Q 15 Write a Python program to search some literals strings in a string.

In [106]:
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' % (pattern, text),)
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [107]:
 # Q16 Write a Python program to search a literals string in a string and 
    # also find the location within the original string where the pattern occurs

In [108]:
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [109]:
 # Q 17 - Write a Python program to find the substrings within a string.

In [110]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [111]:
 # Q18 - Write a Python program to find the occurrence and position of the substrings within a string.

In [37]:

text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print("*****************************************")
    print('Found "%s" at %d:%d' % (text[s:e], s, e))
    print("*****************************************")

*****************************************
Found "exercises" at 7:16
*****************************************
*****************************************
Found "exercises" at 22:31
*****************************************
*****************************************
Found "exercises" at 36:45
*****************************************

In [113]:
 # Q 19 Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [33]:

def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print('**********************************************************')
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))
print("***********************************************************")

**********************************************************
Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026
***********************************************************

In [115]:
# Q20 Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string.
# The use of the re.compile() method is mandatory.

In [29]:
def find_decimal_numbers(string):
    pattern = re.compile(r'\d+\.\d{1,2}')
    decimal_numbers = re.findall(pattern, string)
    return decimal_numbers

In [32]:
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = find_decimal_numbers(sample_text)
print('**************************************************************')
print(output)
print("**************************************************************")

**************************************************************
['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']
**************************************************************

In [118]:
 # Q21 Write a Python program to separate and print the numbers and their position of a given string.

In [119]:

# Input.
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

50
Index position: 62

In [120]:
# Q 22 Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [31]:
string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

values = re.findall(r'\d+', string)
values = [int(value) for value in values]

max_value = max(values)

print(max_value)

950

In [121]:
# Q23 Create a function in python to insert spaces between words starting with capital letters.

In [27]:

def capital_words_spaces(str1):
    return re.sub(r"(\w)([A-Z])", r"\1 \2", str1)
print("*****************************************************\n")
print(capital_words_spaces("Python"))
print(capital_words_spaces("PythonExercises"))
print(capital_words_spaces("PythonExercisesPracticeSolution \n "))
print("*******************************************************")

*****************************************************

Python
Python Exercises
Python Exercises Practice Solution

*******************************************************

In [123]:
# Q24 Python regex to find sequences of one upper case letter followed by lower case letters

In [24]:

def text_match(text):
        patterns = '[A-Z]+[a-z]+$'
        if re.search(patterns, text):
                return 'matched'
        else:
                return('Not matched!')
print("******************************")
print(text_match("AaBbGg"))
print(text_match("Python"))
print(text_match("python"))
print(text_match("PYTHON"))
print(text_match("aA"))
print(text_match("Aa \n"))
print("******************************")

******************************
matched
matched
Not matched!
Not matched!
Not matched!
Not matched!
******************************

In [23]:
 # Q 25 - Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [12]:
def unique_list(text_str):
    
    l = text_str.split()
    temp = []
    
    for x in l:
        if x not in temp:
             temp.append(x)
    
   
    return ' '.join(temp)

text_str = "Hello hello world world " 

print("********************************************************")
print("Original String:")
print(text_str)
print("\nAfter removing duplicate words from the said string:\n ")
print(unique_list(text_str)) 
print("*********************************************************")

********************************************************
Original String:
Hello hello world world

After removing duplicate words from the said string:

Hello hello world
*********************************************************

In [127]:
 # Q 26 -  Write a python program using RegEx to accept string ending with alphanumeric character.

In [45]:
regex = '[a-zA-z0-9]$'

def check(string): 

    if(re.search(regex, string)): 
        print("accepted") 
        
    else: 
        print("not accepted") 



if __name__ == '__main__' :
    string = "ankirai@"
    check(string)
    string = "ankitrai326"
    check(string)
    string = "ankit."
    check(string)
    string = "geeksforgeeks"
    check(string)

not accepted
accepted
not accepted
accepted

In [128]:
 # Q 27 Write a python program using RegEx to extract the hashtags.

In [67]:

def extract_hashtags(text):\
    hashtag_list = []\for word in text.split():
            if word[0] == '#':
                hashtag_list.append(word[1:])
                    print("The hashtags in \"" + text + "\" are :")
                    for hashtag in hashtag_list:
                        print(hashtag)


if __name__ == "__main__":
    text1 = "RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"
    extract_hashtags(text1)
    extract_hashtags(text2)

SyntaxError: unexpected character after line continuation character (3259446367.py, line 2)

In [65]:
 # 28 Write a python program using RegEx to remove <U+..> like symbols

In [66]:
input_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", input_text)
print("*****************************************************************************************************************\n" )
print(output_text,'\n')
print("*****************************************************************************************************************")

*****************************************************************************************************************

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

*****************************************************************************************************************

In [131]:
 # Q 29 Write a python program to extract dates from the text stored in the text file.

In [1]:
# Open the text file
with open('filename.txt', 'r') as file:
    text = file.read()

# Define the regular expression pattern for dates
pattern = r'\d{2}-\d{2}-\d{4}'

# Find all matches of the pattern in the text
dates = re.findall(pattern, text)

# Print the extracted dates
for date in dates:
    print(date)

FileNotFoundError: [Errno 2] No such file or directory: 'filename.txt'

In [133]:
# Q 30 Create a function in python to remove all words from a string of length between 2 and 4.